<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net40" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net40" />
  <package id="ini-parser" version="2.5.2" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net40" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net40" />
  <package id="RawPrint" version="0.2.0.0" targetFramework="net40" />
  <package id="Report.NET" version="0.09.06" targetFramework="net40" />
  <package id="Spire.PDF" version="3.10" targetFramework="net40" />
  <package id="TallComponents.PDFRasterizer" version="3.0.168" targetFramework="net40" />
</packages>